* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #e9ebee;
}

.perfil-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid rgb(151, 11, 11);
}

.post {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 3px solid black;
}

.post-title {
    font-weight: bold;
    color: rgb(78, 55, 10);
}