* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#map {
    display: block;
    margin: 20px auto 20px auto;
    border: 2px solid #7898db;
    border-radius: 15px;
    height: 50vh;
    width: 50%;
}